.registration-container {
    background-color: #6a5acd;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    width: 70%;
    margin: 20px auto;
}

.form-title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}